.header {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.lg {
  width: 100px;
}

.header-bg {
  background: url("../../public/images/bg.png");
  padding-bottom: 20px;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0px;
}

.inner-header {
  display: flex;
  padding-top: 10px;
}

.btn3 {
  display: none;
}

.btn1 {
  width: 221px;
  border: none;
  padding: 10px;
  font-family: "Michroma";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* Colour/White */
  color: #ffffff;
  display: block;
  margin-right: 50px;
  background: #f4aa00;
  border-radius: 40px;
}

.sidebar {
  background: url("../../public/images/bg.png");
  padding-top: 48px;
  margin-bottom: 100px;
  position: absolute;
  padding-left: 30px;
  width: calc(100% - 30px);
  z-index: 200;
  padding-bottom: 30px;
}

.side-item {
  font-family: "Michroma";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 20px;
  position: relative;
  /* Colour/White */
  color: #ffffff;
  z-index: 30;
}

.animation1 {
  transform: translateX(0);
  transition: transform 1.5s;
}

.animation2 {
  transform: translateX(-100%);
  transition: transform 1.5s;
}

.atag {
  text-decoration: none;
}

@media (max-width: 765px) {
  .btn1 {
    display: none;
  }

  .side-item {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .sidebar {
    background: url("../../public/images/bg.png");
    padding-top: 20px;
    margin-bottom: 100px;
    position: absolute;
    padding-left: 30px;
    width: calc(100% - 30px);
    z-index: 200;
    padding-bottom: 30px;
  }

  .btn3 {
    width: 221px;
    height: 56px;
    border: none;
    font-family: "Michroma";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /* Colour/White */
    color: #ffffff;
    display: block;
    margin-right: 50px;
    background: #f4aa00;
    border-radius: 40px;
  }

  .header-bg {
    background: url("../../public/images/bg.png");
    backdrop-filter: unset;
    padding-bottom: 20px;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
  }
}
