.rm-text1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  text-align: center;
  margin-top: 150px;
  color: #ffffff;
  margin-bottom: 84px;
  text-align: center;
  padding-top: 20px;
}

.rmain {
  padding-bottom: 30px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.section-rm1 {
  margin-left: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  width: fit-content;
  margin-right: 200px;
}

.section-rm2 {
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  width: fit-content;
  margin-left: 200px;
}

.c1 {
  width: 600px;
  height: 400px;
  background: #22a3cf;
  border-radius: 16px;
}

.c2 {
  width: 600px;
  height: 400px;
  background: #ffffff;
  margin-top: -380px;
  margin-left: 30px;
  border-radius: 16px;
}

.c3 {
  width: 600px;
  height: 400px;
  background: #f4f2fa;
  margin-top: -380px;
  margin-left: 60px;
  color: black;
  border-radius: 16px;
}

.rm-text2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  padding-left: 48px;
  padding-top: 30px;
  color: #07242f;
  margin-bottom: 24px;
}

.rm-text3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 24px;
  padding-left: 48px;
  color: #07242f;
  padding-right: 10px;
}

.c4 {
  width: 600px;
  height: 400px;
  background: #c122cf;
  border-radius: 16px;
}

.c5 {
  width: 600px;
  height: 400px;
  background: #cf7522;
  border-radius: 16px;
}

.c6 {
  width: 600px;
  height: 400px;
  background: #25cf22;
  border-radius: 16px;
}

.c7 {
  width: 600px;
  height: 400px;
  background: #3024bc;
  border-radius: 16px;
}

.c8 {
  width: 600px;
  height: 400px;
  background: #0cb870;
  border-radius: 16px;
}

@media (max-width: 768px) {
  .c1 {
    width: 80%;
    height: 300px;
    background: #22a3cf;
    border-radius: 16px;
  }

  .c2 {
    width: 80%;
    height: 300px;
    background: #ffffff;
    position: relative;
    margin-top: -280px;
    margin-left: 30px;
    border-radius: 16px;
  }

  .c3 {
    width: 80%;
    height: 300px;
    background: #f4f2fa;
    position: relative;
    margin-top: -280px;
    margin-left: 60px;
    color: black;
    border-radius: 16px;
  }

  .c4 {
    width: 80%;
    height: 300px;
    background: #c122cf;
    border-radius: 16px;
  }

  .c5 {
    width: 80%;
    height: 300px;
    background: #cf7522;
    border-radius: 16px;
  }

  .c6 {
    width: 80%;
    height: 300px;
    background: #25cf22;
    border-radius: 16px;
  }

  .c7 {
    width: 80%;
    height: 300px;
    background: #3024bc;
    border-radius: 16px;
  }

  .c8 {
    width: 80%;
    height: 300px;
    background: #0cb870;
    border-radius: 16px;
  }

  .rm-text1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    margin-top: 113px;
    padding-top: 50px;
    color: #ffffff;
    margin-bottom: 84px;
    text-align: center;
  }

  .section-rm1 {
    margin-left: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    width: fit-content;
    margin-right: 0px;
  }

  .section-rm2 {
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    width: fit-content;
    margin-left: 0px;
  }

  .rm-text2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    padding-left: 48px;
    padding-top: 30px;
    color: #07242f;
    margin-bottom: 24px;
  }

  .rm-text3 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 24px;
    padding-left: 48px;
    color: #07242f;
    padding-right: 10px;
  }
}
